// VARIABLES

$base-font-size: 16px;

// fonts & colors

$main-font: Raleway, sans-serif;
$heading-font: Montserrat, sans-serif; // not in use
$text-color-dark: #777777;
$text-color-light: #fff;
$text-color-blue: #9920ed;